// Inter font, just because it looks nice
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

// Apply the inter font
html,
body {
    font-family: "Inter", sans-serif;
}

.widget {
    z-index: 100;
    position: absolute;
    animation: fadeInDown ease 0.6s;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
    font-weight: 600;
    width: max-content;
    border-radius: 9px;
    border-top: 4px solid;
    padding: 15px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    // Succes widget
    &--state-success {
        background-color: #e6fffa;
        color: #234e52;
        border-color: #38b2ac;
        fill: #38b2ac;
        & button {
            background-color: #38b2ac;
            &:hover {
                background-color: #234e52;
                transition: background-color 0.2s;
            }
        }
    }
}

.widget__content {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.widget__buttons {
    display: block;
    @media only screen and (min-width: 600px) {
        display: flex;
        gap: 10px;
    }
}

.widget__button {
    color: white;
    border: none;
    padding: 3px 6px 3px 6px;
    border-radius: 9px;
    flex-grow: 1;
    margin-top: 8px;
    &--primary {
        animation-name: bibber;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-duration: 0.15s;
        animation-iteration-count: 5;
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.widget__icon {
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    margin-right: 5px;
    display: none;
    @media only screen and (min-width: 600px) {
        display: inline-block;
    }
}

.widget__text {
    display: inline-block;
    margin: 0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bibber {
    50% {
        transform: translateX(2px);
    }
}
